<div id = "post-{{id}}" class = "card">
<div id = "post-1" class = "card">
    <img  class = "cardImg" src = {{thumbnail_path}} alt = "Missing Image">
    {{!-- <img style="max-width: 500px; max-height: 500px" class = "cardImg" src = "{{this.src}}" alt = "Missing Image"> --}}
    <div class = "cardBody">
        <p class = "cardTitle">{{title}}</p>
        <p class = "cardText">{{description}}</p>
        <a href = "/post/{{id}}" class = "anchorButtons">Post Details</a>
    </div>
</div>